// main vars
$mainColor: rgb(166,76,235);
$mainColorLight: rgb(200, 148, 241);

// colors
$snapColor: #FFDD1F;

// sizes
$cameraHeight: 400px;
$cameraWidth: 340px;
$headerHeight: 40px;
$borderThickness: 3px; 

// icon
$cameraSize: 25px;