// main vars
$mainColor: rgba(0, 0, 0, 0.73);
$mainColorLight: rgba(0, 0, 0, 0.08);

// colors
$snapColor: #FFDD1F;

// sizes
$cameraHeight: 400px;
$cameraWidth: 340px;
$headerHeight: 40px;
$borderThickness: 3px; 

// icon
$cameraSize: 25px;