// main vars
$mainColor: rgb(99, 34, 156);
$mainColorLight: rgb(166,76,235);

// colors
$snapColor: #FFDD1F;

// sizes
$cameraHeight: 400px;
$cameraWidth: 340px;
$headerHeight: 70px;
$borderThickness: 3px; 

// icon
$cameraSize: 25px;