.buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;

  .snap-wrapper {
    width: $cameraWidth;
    height: $cameraSize + 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;

    cursor: pointer;

    // animation things
    transition-duration: 0.5s;

    .snap {
      width: $cameraWidth;
      min-height: $cameraSize + 15px;
      background-color: $snapColor;

      // background image settings
      background-image: url('../images/camera.png');
      background-size: $cameraSize;
      background-repeat: no-repeat;
      background-position: center;
      transition-duration: 0.6s;

      &:hover{
        background-color: #FFE76E;
      }

      &.inactive {
        transform: translateY(-40px);
      }
    }

    .util {
      width: $cameraWidth;
      min-height: $cameraSize + 15px;
      display: flex;
      flex-direction: row;

      .redo {
        width: 50%;
        background-color: #30E039;
        background-image: url('../images/redo.png');
        background-size: $cameraSize;
        background-repeat: no-repeat;
        background-position: center;
        transition-duration: 0.6s;

        &.active {
          transform: translateY(-40px);
        }

        &:hover {
          background-color: #45EC48;
        }
      }

      .download {
        width: 50%;
        background-color: #24CCFF;
        background-image: url('../images/download2.png');
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: center;
        transition-duration: 0.6s;        

        &.active {
          transform: translateY(-40px);
        }

        &:hover {
          background-color: #3AD4FF;
        }
      }
    }
  } 
}