// div for the actual camera

$borderWidth: 3px;
$borderDelta: 3px;

.middle {
  width: 100%;
  background: linear-gradient($mainColor, $mainColorLight);

  .camera {
    // position: relative;
    height: $cameraHeight;
    width: $cameraWidth;
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.5s;

    // styling
    border-radius: 8px;
    overflow: hidden; // make the camera appear to be vertical
    border: $borderThickness solid #B0EB0C;

    &.pulse {
      animation-name: pulse_animation;
      animation-duration: 500ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }

    @keyframes pulse_animation {
      0% {
        border-width: $borderWidth;
      }
      30% {
        border-width: $borderWidth;
      }
      50% {
        border-width: $borderWidth;
        margin-top: -$borderDelta;
        margin-bottom: -$borderDelta;
      }
      60% {
        border-width: $borderWidth;
        margin-top: 0px;
        margin-bottom: 0px;
      }
      100% {
        border-width: $borderWidth;
      }
    }
  }

  #face {
    position: absolute;
  }

  .flash {
    position: absolute;
    background: white;
    height: $cameraHeight;
    width: $cameraWidth; 
    border-radius: 5px;
    opacity: 0;

    &.click {
      animation: cameraFlash 0.4s;
    }
  }

  @keyframes cameraFlash {
    0% {
      opacity: 0.8;
    }
    30% {
      opacity: 0.7;
    }
    50% {
      opacity: 0.2;
    }
    70% {
      opacity: 0.2;
    }
    100% {
      opacity: 0;
    }
  }
}

.canvas {
  position: absolute;
  margin: 0 auto 0 auto;
  left: 0;
  right: 0;
  top: $headerHeight + $borderThickness;
  border-radius: 5px;
}