// div for the actual camera

.middle {
  width: 100%;
  background: linear-gradient($mainColor, $mainColorLight);

  .camera {
    background: white;
    height: 400px;
    width: 330px; 
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; // make the camera appear to be vertical
  }
}
