@font-face {
  font-family: 'LatoLatinWebBlack';
  src: url('../fonts/LatoLatin-Black.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoLatinWebBlack';
  src: url('../fonts/LatoLatin-BlackItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoLatinWeb';
  src: url('../fonts/LatoLatin-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoLatinWeb';
  src: url('../fonts/LatoLatin-BoldItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoLatinWebHairline';
  src:  url('../fonts/LatoLatin-Hairline.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoLatinWebHairline';
  src: url('../fonts/LatoLatin-HairlineItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoLatinWebHeavy';
  src: url('../fonts/LatoLatin-Heavy.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoLatinWebHeavy';
  src: url('../fonts/LatoLatin-HeavyItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoLatinWeb';
  src: url('../fonts/LatoLatin-Italic.woff2') format('woff2');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoLatinWebLight';
  src:url('../fonts/LatoLatin-Light.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoLatinWebLight';
  src: url('../fonts/LatoLatin-LightItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoLatinWebMedium';
  src: url('../fonts/LatoLatin-Medium.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoLatinWebMedium';
  src: url('../fonts/LatoLatin-MediumItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoLatinWeb';
  src:url('../fonts/LatoLatin-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoLatinWebSemibold';
  src: url('../fonts/LatoLatin-Semibold.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoLatinWebSemibold';
  src: url('../fonts/LatoLatin-SemiboldItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoLatinWebThin';
  src: url('../fonts/LatoLatin-Thin.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoLatinWebThin';
  src: url('../fonts/LatoLatin-ThinItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}