body {
  background: linear-gradient($mainColor, $mainColor 40%, $mainColorLight);
  
  color: white;
  font-family: 'LatoLatinWeb', 'sans-serif';
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;

  .bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
  }
}